.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
  position: relative;
  z-index: 1;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}
.scrolled.fade-bottom-long {
  animation: fade-in-bottom 1s ease-in-out both;
  animation-delay: 0.2s;
}

.scrolled.slide-right {
  animation: slide-in-left 1s ease-in-out both;
}

.greeting.slide-left {
  animation: title-slide-left 0.8s ease-in-out both;
  position: relative;
  z-index: -1;
}

.name.fade-in {
  animation: fade-in 1s ease-in-out both;
  animation-delay: 0.8s;
  position: relative;
  z-index: -1;
}

.intro-description.fade-bottom-long {
  animation: fade-in-bottom 1s ease-in-out both;
  animation-delay: 1s;
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes title-slide-left {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
