
a {
	text-decoration: none;
	color: inherit;
}

body {
	background-color: #2A9D8F;
	margin: 0px;
	
}

.webTitle {
	font-family: 'Fira Sans', sans-serif;
	font-size: 30px;
	font-weight: 700;
	padding-left: 10px;
	
}
.way {
	color:#E9C46A;
}

li {
	list-style: none;
}

/* NAVBAR STYLING STARTS */

.navbar {
	display: flex;
	font-family: 'Fira Sans', sans-serif;
	align-items: center;
	justify-content: space-between;
	background-color: #2A9D8F;
	color: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.432);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	
	
}

.navbar:target {
	display: block;
	position: relative;
	top: -120px; 
	visibility: hidden;
  }

/* NAVBAR MENU */

.menu {
	display: flex;
	align-items: right;
	gap: .8em;
	font-size: 1.3em;
}

.menu li:hover {
	color: #E9C46A;
	transition: 0.3s ease;
	transform: translateY(-2px);
}

.menu li{
	padding: 5px 5px;
}










/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
 display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
 display: none;
 font-size: 40px;
 user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
.menu { 
 display:none;
 position: absolute;
 background-color:teal;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
}

.menu li:hover {
 display: inline-block;
 background-color:#4c9e9e;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}

input[type=checkbox]:checked ~ .menu{
 display: block;
}



.hamburger {
 display: block;
 font-size: 40px;
 padding-right: 20px;
}

.dropdown {
 left: 50%;
 top: 30px;
 transform: translateX(35%);
}
.dropdown li:hover {
 background-color: #4c9e9e;
}
}